body{
    background-color: rgb(174, 128, 223);
    justify-content: center;
    display: flex;
    margin: 180px;
}
.container{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}
h2{
    margin-bottom: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.f1{
    margin-bottom: 15px;
}
.f1 input,
.f1 textarea,
.f1 select{
    width: 230px;
    font-size: 16px;
    padding: 8px 10px;
   border: 1px #ccc solid;
   border-radius: 2px;
}
button{
    background-color: rgb(189, 140, 189);
    width: 240px;
     font-size: 14px;
     color: whitesmoke;
    padding: 8px 10px;
    font-weight: bold;
}


